<p id="notice"><%= notice %></p>

<p>
  <strong>Technology:</strong>
  <%= @snippet.technology %>
  <%= @snippet.language %>
</p>
<p>
  <strong>Description:</strong>
  <%= simple_format(@snippet.technology) %>
</p>

  <strong>Code:</strong>
  <code>
  	<%= @snippet.code %>
  </code>

  <div class="code_block">
  <% if @snippet.highlighted_code.present? %>
    <%= raw @snippet.highlighted_code %>
  <% else %>
    <pre><%= @snippet.plain_code %></pre>
  <% end %>
</div>

<hr>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
