<p id="notice"><%= notice %></p>

<p>
  <strong>Technology:</strong>
  <%= @snippet.technology %>
</p>
<p>
  <strong>Description:</strong>
  <%= @snippet.technology %>
</p>

  <strong>Code:</strong>
  <code>
  	<%= @snippet.code %>
  </code>

<hr>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
