<%= form_for(@devlog) do |f| %>
  <% if @devlog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@devlog.errors.count, "error") %> prohibited this devlog from being saved:</h2>

      <ul>
      <% @devlog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
