<h1>Listing devlogs</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @devlogs.each do |devlog| %>
      <tr>
        <td><%= devlog.message %></td>
        <td><%= devlog.project %></td>
        <td><%= link_to 'Show', devlog %></td>
        <td><%= link_to 'Edit', edit_devlog_path(devlog) %></td>
        <td><%= link_to 'Destroy', devlog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Devlog', new_devlog_path %>
