<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @use_case.user %>
</p>

<p>
  <strong>Story:</strong>
  <%= @use_case.story %>
</p>

<p>
  <strong>Project:</strong>
  <%= @use_case.project %>
</p>

<%= link_to 'Edit', edit_use_case_path(@use_case) %> |
<%= link_to 'Back', use_cases_path %>
