<h2>Recipes</h2>
<h3>Index </h3>
<table>
  <thead>
    <tr>
      <th>Technology</th>
      <th>Name</th>
      <th>Procedure</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.technology %></td>
        <td><%= recipe.name %></td>
        <td><%= simple_format(recipe.procedure) %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
