

<div class="pull-right">
            <% if user_signed_in? %>
			Hello <%= link_to(current_user.email, edit_user_registration_path) %> |
			<%= link_to 'Recipes', recipes_path %> |
			<%= link_to 'Snippets', snippets_path %> |
							
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
			<% else %>
                        <%= render "devise/shared/links" %>
			<% end %>  
</div>

	<a href="/"><h1>Cybernetic</h1></a>


